#Upload the Client File and Model

Client file Analysis

In [4]:
import pandas as pd
df=pd.read_csv('/content/areas.csv')
df

    area
0    300
1    455
2    670
3   1500
4   1400
5   3000
6   2000
7   2400
8   1300
9    900
10  3200
11  1280
12  2500

#Activate the ML Model

In [1]:
#we have to activate the ML Model
import pickle

In [2]:
with open('/content/eachanaridatamodel','rb') as f :
  reg=pickle.load(f)

#Predict for the Areas

In [7]:
reg.predict(df)

array([ 1586069.98838743,  2042254.96938332,  2675027.68495826,
        5117824.67996849,  4823511.7890034 ,  9532518.04444481,
        6589389.13479393,  7766640.69865428,  4529198.89803831,
        3351947.33417796, 10121143.82637498,  4470336.31984529,
        8060953.58961937])

In [9]:
pricedf = reg.predict(df)
df['price'] = pricedf
df

    area         price
0    300  1.586070e+06
1    455  2.042255e+06
2    670  2.675028e+06
3   1500  5.117825e+06
4   1400  4.823512e+06
5   3000  9.532518e+06
6   2000  6.589389e+06
7   2400  7.766641e+06
8   1300  4.529199e+06
9    900  3.351947e+06
10  3200  1.012114e+07
11  1280  4.470336e+06
12  2500  8.060954e+06

In [11]:
df.to_csv('priceoutput.csv',index=False)