#Uploading the client file and model

In [1]:
import pandas as pd
df=pd.read_csv('/content/rspuramclientinput.csv')
df

   area  bedroom  age
0  1300        2    5
1  2400        4    8
2   950        2    1
3  1500        2    8
4  2000        3    7
5  1800        3    6
6  1600        2    2

In [2]:
import pickle
with open('/content/rspuramhousingmodel','rb') as f:
  reg=pickle.load(f)

#Predict the data

In [3]:
pricedf=reg.predict(df)

In [4]:
df['price']=pricedf
df

   area  bedroom  age         price
0  1300        2    5  9.731020e+06
1  2400        4    8  1.397695e+07
2   950        2    1  9.421320e+06
3  1500        2    8  9.649746e+06
4  2000        3    7  1.242573e+07
5  1800        3    6  1.178392e+07
6  1600        2    2  1.232067e+07

In [6]:
df.to_csv('RSpuramClientoutput.csv',index=False)