#Uploading the Model File

In [22]:
import pickle
with open('/content/Trip_Duration_Prediction_Model','rb') as f:
  reg=pickle.load(f)

#Getting the Input File from the Client and Predicting the output into a File

In [23]:
import pandas as pd
df=pd.read_csv('/content/Trip_Duration_Prediction_Input.csv')
df

   distance(KM)
0            82
1            98
2           155
3           168
4           250
5           277
6           282
7           312
8           358
9           375

In [24]:
time_df=reg.predict(df)
df['time(HRS)']=time_df
df

   distance(KM)  time(HRS)
0            82   1.210621
1            98   1.576042
2           155   2.877856
3           168   3.174761
4           250   5.047546
5           277   5.664194
6           282   5.778388
7           312   6.463554
8           358   7.514140
9           375   7.902400

In [32]:
import numpy as np
rounded_time=df['time(HRS)'].apply(np.floor)

In [33]:
df['time(HRS)']=rounded_time
df

   distance(KM)  time(HRS)
0            82        1.0
1            98        1.0
2           155        2.0
3           168        3.0
4           250        5.0
5           277        5.0
6           282        5.0
7           312        6.0
8           358        7.0
9           375        7.0

In [34]:
df.to_csv('Trip_Duration_Prediction_Output.csv',index=False)

#Getting the Input from the Client and Predicting the output

In [29]:
import math
import warnings
warnings.filterwarnings('ignore')
km = int(input("Enter the Distance in KM : "))
hrs = reg.predict([[km]])
HRS = math.floor(hrs)
print("---------------------------------")
print(HRS , "Hrs is taken to Travel" , km , "KM")
print("---------------------------------")

Enter the Distance in KM : 98
---------------------------------
1 Hrs is taken to Travel 98 KM
---------------------------------