In [8]:
import pandas as pd
df=pd.read_csv('/content/hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [9]:
import math
testscoremedian=math.floor(df['test_score(out of 10)'].median())
testscoremedian

8

In [10]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(testscoremedian)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [11]:
df['experience'] = df['experience'].fillna('zero')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [12]:
# installing third party lib.
#!pip install word2number
#should be commented after installing

In [13]:
from word2number import w2n

In [14]:
w2n.word_to_num("two million three thousand nine hundred and eighty four")

2003984

In [15]:
#approach_1
def convertword2number(x):
  return w2n.word_to_num(x)

In [16]:
df['experience'] = df['experience'].apply(convertword2number)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [17]:
#approach_2
#df['experience'] = df['experience'].apply(lambda x: w2n.word_to_num(x))
#df

In [18]:
X=df.drop('salary($)',axis=1)
X

   experience  test_score(out of 10)  interview_score(out of 10)
0           0                    8.0                           9
1           0                    8.0                           6
2           5                    6.0                           7
3           2                   10.0                          10
4           7                    9.0                           6
5           3                    7.0                          10
6          10                    8.0                           7
7          11                    7.0                           8

In [19]:
Y=df['salary($)']
Y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [20]:
#scikit learn
from sklearn import linear_model

reg = linear_model.LinearRegression()

reg.fit(X,Y)

LinearRegression()

In [26]:
reg.predict([[0,5,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([40197.23435226])

#Understanding the ML

In [22]:
m=reg.coef_
m

array([2812.95487627, 1845.70596798, 2205.24017467])

In [23]:
m=reg.coef_
m1=2812.95487627
m2=1845.70596798
m3=2205.24017467

In [24]:
b=reg.intercept_
b

17737.263464337688

In [25]:
y=(m1*0)+(m2*5)+(m3*6)+b
y

40197.23435225769

#Downloading the Model

In [27]:
import pickle
with open('salarymodel','wb') as f:
  pickle.dump(reg,f)